.phone, #phone {
    color: hsl(346, 100%, 42%);
}

.phone:hover {
    color: black;
    background-color: aqua;
}

#phone:hover {
    color: aqua;
    background-color: black;
}

.email, #email {
    color: hsl(187, 97%, 29%);
}

.email:hover {
    color: yellow;
    background-color: black;
}

#email:hover {
    color: black;
    background-color: yellow;

}

.locate, #location {
    color: hsl(17, 100%, 54%);
}

.locate:hover {
    color: green;
    background-color: blanchedalmond;
}

#location:hover {
    color: blanchedalmond;
    background-color: green;
}

a {
    text-decoration: none;

}
